*.cpp linguist-language=C++
*.cc linguist-language=C++
*.cxx linguist-language=c++
*.h linguist-language=C++
*.hpp linguist-language=C++
*.txt linguist-language=Makefile

*.tex linguist-detectable=false
*.bib linguist-detectable=false
*.hlsl linguist-detectable=false
*.make linguist-detectable=false
